ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width: 100%;
	position:fixed;
	top: 0;
}

li {
	float: left;
}

li a {
	display: block;
	height: 50px;
	width: 100px;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 50px;
}

li a:hover {
	background-color: #4CAF50;
}

li.hover-right {
	float: right;
	background-color: #4CAF50;
}

.article {
	margin-top: 50px;
}

h1 {
	text-align: center;
	background-color: lightblue;
	padding: 10px 0;
}
