body {
	background-color: #eee;

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;

}

ul li {
	padding: 14px 16px;
	float: left;
	
}

ul li a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: inline-block;

}

ul li:hover {
	background-color: red;
}

