body {
	padding: 0;
	margin: 0;
}

#heading {
	margin: 0;
	background-color: #eee;
	text-align: center;
	line-height: 100px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	margin: auto;
}

ul li {
	display: inline-block;
	width: 20vw;
	height: 40px;
	background-color: green;
	text-align: center;
	float: left;
	line-height: 40px;
}

ul li a {
	text-decoration: none;
	color: white;
	font-family: Arial, sans-serif;
	display: block;

}

ul li a:hover {
	background-color: black;
}

ul li ul li {
	display: none;
	background-color: green;
	opacity: 0.3;
}

ul li:hover ul li {
	display: block;
}