body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

.pimg1, .pimg2, .pimg3 {
	position: relative;
	opacity: 0.75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.pimg1 {
	background-image: url("../images/image1.jpg");
	min-height: 100%;
}

.pimg2 {
	background-image: url("../images/image2.jpg");
	min-height: 400px;
}

.pimg3 {
	background-image: url("../images/image3.jpg");
	min-height: 400px;
}

.section {
	text-align: center;
	padding: 20px 80px;
}

.section-light {
	background-color: #868f8e;
	color: #f5f5f0;
}

.section-dark {
	background-color: #d8d1c9;
	color: #000;
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

@media(max-width: 500px) {
	.pimg1, .pimg2, .pimg3 {
		background-attachment: scroll;
	}

	.section {
		padding: 10px 20px;
	}
}