
h1 {
	border: 2px solid green;
	text-align: center;
	width: 50%;
	margin: auto;

}

p {
	border: 2px solid blue;
	margin: 10px 0 0 0;
	display: block;

}

button {
	border-radius: 10%;
	width: 200px;
	height: 50px;
	margin-bottom: 50px;
}

button:hover {
	background-color: black;
	color: white;
}

a {
	padding: 15px 10px;
	background-color: red;
	color: white;
}

a:hover {
	background-color: black;
	color: white;
}

ul {
	list-style: none;
	padding: 0;
	background-color: yellow;
}

#first {
	background-color: red;
	color: white;
}

#customers {
	background-color: #ddd;
	border: 2px solid black;
	border-collapse: collapse;
}

#customers th {
	background-color: green;
	color: white;
	margin: 0;
	border: 1px solid #ccc;
	padding: 5px;
}

#customers tr {
	padding: 2px;
}

#customers tr:nth-child(odd) {
	background-color: white;
}

#customers td {
	border: 1px solid #ccc;
	padding: 5px;
}

#customers tr:hover {
	background-color: lightblue;
	color: white;
}

li {
	float: left;
}

.outer {
	background-color: lightblue;
	height: 100px;
}

div h2.hatu {
	background-color: red;
	color: white;
	width: 200px;
	position: absolute;
	left: 10px;
	top: 10px;
}

article p {
	color: black;
	background-color: white;
	border: none;
}

article {
	padding-bottom: 2000px;
}

#title {
	position: sticky;
	background-color: blue;
	color: red;
}