* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background: #f1f1f1;
}

header {
  background: #fff;
  padding: 30px;
  text-align: center;
  font-family: Verdana;
}

header h1 {
  font-size: 3em;
}

header p {
  font-size: 1.25em;
  font-style: italic;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.topnav .right {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.img1 {
  height: 200px;
}

.img2 {
  height: 100px;
}

.card {
  background: #fff;
  padding: 10px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
